<h1>New To_do_do</h1>

<form action="/tasks" method="post">

  <label for="task_name">Task Name</label>
  <input id="task_name" name="task[name]" type="text">
  <br>
  <label for="task_description">Task Description</label>
  <input id="task_description" name="task[description]" type="text">

  <button>Create task</button>
</form>
